[Unit]
Description="ProxyApp ROS2 node for navigation demo"
Requires=proxyapp_py_unsecure_client.service
After=proxyapp_py_unsecure_client.service

[Service]
Type=simple
User=sad
Group=sad
Restart=always
RestartSec=10
ExecStart=/bin/sh -c ". /opt/ros/galactic/setup_fog_sec.sh; python3 /usr/bin/secure_server.py --ros-args --enclave /fog/proxyapp -r __node:=$DRONE_DEVICE_ID -r __ns:=/$DRONE_DEVICE_ID -p drone_id:=$DRONE_DEVICE_ID -p drone_namespace:=$DRONE_DEVICE_ID"

[Install]
WantedBy=multi-user.target
